.btn {
  /* background-color: #fff;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  height: 30%; */
  text-align: center;
  margin-top: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  height: 90px;
  width: 90px;
  border-radius: 50px;
  cursor: pointer;

  font-size: small;
  text-transform: uppercase;

  background-color: rgb(250, 9, 137);

  color: #68b4cf;

  border-style: none;
  box-shadow: 3px 3px 3px grey;
  /* box-shadow: inset 6px 6px 6px 0px #68b4cf, inset -6px -10px 10px 0px #68b4cf; */
}
.btn:hover {
  background-color: #01e8f8;
  color: deeppink;
  font-weight: bold;
}
